
<h1>Welcome to pastebin</h1>
<p><%= link_to "Pastebin", "/pastes" %></p>

<h1>New paste</h1>

<%= render "pastes/form", paste: @paste %>

<br>

<div>
  <%= link_to "Back to pastes", pastes_path %>
</div>

</center>