<div id="<%= dom_id paste %>">
  <p>
    <strong>Paste:</strong>
    <%= paste.paste %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= paste.title %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= paste.access_id %>
  </p>

</div>
