<table border="0" width="80%" bgcolor="#EAEDED">
<tr>
<td  align="center" >
    <h1>New paste</h1>
    <%= render "form", paste: @paste %>
  </td>
  <td width="20" align="center" >


  <% @pastes.each do |paste| %>
  <div>

    <%= render paste %>
    <%= link_to "Show", paste %> 
    <hr class="hr3">
  <% end %>
</div>
  
  </td>
</tr>
</table>