<table border="0" width="80%" bgcolor="#EAEDED">
<tr>
<td  align="center" >
    <h1>New paste</h1>
    <%= render "form", paste: @paste %>
  </td>
  <td align="center" >


  <% @pastes.each do |paste| %>
  <div>

    <%= render paste %>
    <%= link_to "Show this paste", paste %>
    <hr class="hr3">
  <% end %>
</div>

<div>
  <%= link_to "Back to pastes", pastes_path %>
</div>
  
  </td>
</tr>
</table>